<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aishang.shop11.dao.OrderItemMapper">
  <resultMap id="BaseResultMap" type="com.aishang.shop11.po.OrderItem">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="item_id" jdbcType="INTEGER" property="itemId" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="sub_total" jdbcType="DOUBLE" property="subTotal" />
    <result column="p_id" jdbcType="INTEGER" property="pId" />
    <result column="o_id" jdbcType="INTEGER" property="oId" />
  </resultMap>
</mapper>